__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
*.db
*.sqlite
*.sqlite3
.DS_Store
node_modules
.vscode
.idea
README.md
{backend,frontend}/
{server,client}/
server/
.dockerignore
